@charset "utf-8";
html {
  overflow-y: hidden;
}
body {
  background: #00dd00;
  background-image: linear-gradient(white 1px, transparent 0),
    linear-gradient(90deg, white 1px, transparent 0);
  background-size: 50px 50px;
}

h1{
  text-align: center;
  background: #203;
  color: white;
  text-shadow: 0 0 .1em, 0 0 .3em;
}

p {
  text-align: center;
}

marquee#ma1 {
  font-size: 2.5em;
  color: magenta;
}
marquee#ma2 {
  font-size: 3.5em;
  color: rgb(44, 164, 219);
}


div {
  text-align: center;
}
.blinking {
  animation: blinkingText 0.1s infinite;
  font-size: 1.5em;
}
@keyframes blinkingText {
  0% {
    color: transparent;
  }
  100% {
    color: red;
  }
}
